form {
    background: rgba(206, 32, 32, 0.46);
}
form{
}
form .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    max-height: 40vh;
    overflow: auto;
    column-gap: 50px;
}

form .field {
    width: 200px;
    height: 50px;
    border-bottom: solid darkblue .4px;
    border-left: solid darkblue 4px;
    outline: solid black 1px;
    border-radius: 10px;
    padding-left: 5px;

    border-radius: 10px 30px 10px 10px;
    margin: 10px 15px 10px 10px;
}

form .field:hover {
    cursor: pointer;
}

input {
    background: transparent;
    border: none;
}

input:focus {
    outline: none;
}